@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --background-color: #fdfdfd;
    --font-color: #111111;
    --primary-color: #1a95e0;
}

* {
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "IBM Plex Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--font-color);
}

nav {
    display: flex;
    gap: 1rem;
}

main {
    flex: 1;
    padding: 1rem;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    border-top: 1px solid var(--font-color);
    padding: 0.5rem 0;
    font-size: 0.875rem;
}
